.edit-profile{
    background-color: rgba(255,255,255, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: all;
    transform: scale(0);
    transition: transform 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-profile.visible{
    transform: scale(1);
}

.edit-profile form {
    max-width: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.edit-profile form *{
    font-size: 1rem;
}
.edit-profile form button:first-of-type{
    font-weight: bold;
    width: min-content;
    padding: 0;
    margin: 0;
    color: black;
    background-color: transparent;
    align-self: flex-end;
}
.edit-profile input[type="file"]{
    border: none;
    width: 90%;
    align-self: center;
}

.edit-profile form button{
    background-color: #722F37;
}
