.like-button {
    display: inline-block;
    width: 28px;
    aspect-ratio: 1;
    border-image: radial-gradient(rgb(154, 153, 153) 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    cursor: pointer;
    transition: border-image 120ms ease-in ;
}

.like-button.liked{
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
}

.like-container span{
    font-size: 1.4rem;
}

.like-container{
    display: flex;
    align-items: center;
    gap: 3px;
}