*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color: #f0f2f5;
}
header{
    background-color: #722F37;
    display: grid;
    grid-template-columns: min-content 1fr 1fr min-content;
    gap: 20px;
    padding: 10px;
    z-index: 2;
    position: relative;
    box-shadow: 0px 1px 2px 0px gray;
}
#root > div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header > a:first-of-type{
    justify-self: end;
}
header > a:nth-of-type(2){
    justify-self: start;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
}
.logo > p{
    position: absolute;
    top: 4px;
    color: #722F37;
    font-weight: bold;
    font-size: 2.5rem;
}
#root > .login{
    background-color: #f0f2f5;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login > div{
    max-width: 500px;
}
.login h1 {
    text-align: left;
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
    text-align: left;
}
h1{
    color: #722F37;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

form{
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px gray;
}
form > button{
    color:white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #42b72a;
    font-size: 1rem;
    padding: 5px;
    width: fit-content;
}
form > button:first-of-type{
    background-color: #1877f2;
    padding: 10px 5px;
    font-size: 1.3rem;
    width: 100%;
}
input{
    font-size: 1.3rem;
    appearance: none;
    padding: 5px 10px;
    border: 1px solid gray;
}
input:focus{
    outline: #539af8 1px solid;
    border-color: transparent;
}

@media (max-width:650px) {
    #root .login{
        flex-direction: column;
        gap: 50px;
    }
    .login h1{
        text-align: center;
    }
    .login p{
        text-align: center;
    }
    .login form > button:first-of-type{
        font-size: 1rem;
    }
    .login input{
        font-size: 1rem;
    }
}