.new-post img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}
.new-post div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.new-post{
    padding: 10px;
    background-color: #fff;
    max-width: 650px;
    margin: 10px;
    box-shadow: 0px 1px 3px gray;
    border-radius: 15px;
}
.new-post textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
    resize: none;
    overflow:auto;
    font-family: inherit;
    font-size: 1rem;
    border: none;
}
.new-post textarea:focus{
    border: none;
    outline: none;
}
.new-post form button{
    margin-left: auto;
    display: block;
    border-radius: 15px;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: #722F37;
    border: none;
    width: fit-content;
    color: white;
}
.new-post button:hover{
    background-color: #bb858b;
}
.new-post form {
    all:unset;
}
.new-post:focus-within{
    outline: #bb858b 2px solid;
}

.new-post textarea::-webkit-scrollbar{
    width: 0.4rem;
}

.new-post textarea::-webkit-scrollbar-thumb {
    background-color: gray;
}
