.people > div img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
}
.people > div {
    display: flex;
    align-items: center;
    gap:5px;
    padding: 10px;
    max-width: 650px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px gray;
}
.people > div p {
    flex: 1;
}

.people > div button {
    background-color: #722F37;
    color: #eee;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.people > div button:hover {
    background-color: #945e64;
}
.loading {
    margin: 40px auto;
    display: block;
}