.people-cards > div img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
}
.people-cards{
    padding: 0px 10px;
}
.people-cards > div {
    display: flex;
    align-items: center;
    gap:5px;
    padding: 10px;
    max-width: 650px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px gray;
}
.people-cards > div a {
    flex: 1;
    text-decoration: none;
    color: black;
}
.people-cards > div a:hover {
    text-decoration:underline;
}

.people-cards > div button {
    background-color: #722F37;
    color: #eee;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.people-cards > div button:hover {
    background-color: #945e64;
}
.loading {
    margin: 40px auto;
    display: block;
}
.people{
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex: 1;
}
.people nav{
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 1px 2px gray;
}
.people nav a{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
}
.people nav a:hover{
    background-color: #bb858b;
}
.people nav img {
    height: 30px;
    width: auto;
}

@media (max-width:600px) {
    .people{
        display: flex;
        flex-direction: column;
    }
    .people nav{
        display: flex;
        gap: 5px;
        flex-direction: row;
        background-color: transparent;
        box-shadow: none;
        justify-content: center;
        flex-wrap: wrap;
    }    
    .people nav img {
        height: 25px;
        width: auto;
    }    
}

@media (max-width: 450px) {
    .people-cards > div img {
        width: 70px;
        height: 70px;
    }    
    .people-cards *{
        font-size: 1.2rem;
    }
    .people-cards > div button {
        padding: 5px 10px;
    }    
}