.post-card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}
.post-card p{
    font-size: 1.1rem;
}
.post-card  > div > div > a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}
.post-card > div:first-of-type > div {
    flex: 1;
}

.post-card > div:first-of-type > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.post-card > div:first-of-type > button > img{
    height: 30px;
    width: 30px;
}
.post-card{
    padding: 10px;
    background-color: #fff;
    max-width: 650px;
    margin: 15px auto;
    box-shadow: 0px 1px 3px gray;
    border-radius: 15px;
}
.post-card > div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-card > div > div > p{
    font-size: 0.9rem;
} 
.buttons{
    display: block;
    position: relative;
}

.posts{
    padding: 10px;
}