.profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content min-content 1fr;
    row-gap: 20px;
    column-gap: 10px;
    padding: 15px;
}

.profile img {
    border-radius: 50%;
    object-fit: contain;
}

.profile > div > div > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.profile a p{
    font-size: 1rem;
}

.profile > div:first-of-type img{
    width: 100px;
    height: 100px;
    outline: 2px solid gray;
}
.profile > div:first-of-type button img{
    width: 25px;
    height: 25px;
    outline: none;
}
.profile > div:first-of-type button{
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.profile > div:first-of-type{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile > div:first-of-type > div{
    position: relative;
}
.profile > div:nth-of-type(2){
    grid-column: 1/2;
    grid-row: 2/3;
}

.profile > div:nth-of-type(3){
    grid-column: 1/2;
    grid-row: 3/4;
}

.profile > div:nth-of-type(4){
    grid-column: 2/3;
    grid-row: 1/4;
}

.profile > div:nth-of-type(3) img{
    width: 50px;
    height: 50px;
}
.profile > div:nth-of-type(3) > div,
.profile > div:nth-of-type(2) > p {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px gray;
}

.profile > div:nth-of-type(2) > p{
    font-size: 1rem;
}

@media (max-width: 600px) {
    .profile{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .profile > div:first-of-type img{
        width: 80px;
        height: 80px;
    }
    .profile h1{
        font-size: 1.5rem;
    }
    .profile > div:first-of-type button img{
        width: 20px;
        height: 20px;
    }
}