.overlay{
    background-color: rgba(255,255,255,0.8);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px
}
.overlay > form {
    position: relative;
    align-items:stretch;
    max-width: 500px;
}
.overlay > form > button:first-of-type {
    background-color: transparent;
    color: gray;
    position: absolute;
    right: 5px;
    top: 0;
    width: min-content;
}
.overlay > form > button {
    align-self: center;
    padding:10px 15px;
}
.overlay > form > p{
    font-size: 1rem;
    align-self: self-start;
}
.overlay > form > h2{
    align-self: self-start;
}
.name{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.name input{
    width:200px;
    flex: 1;
}
.overlay button:disabled{
    background-color: rgb(221, 252, 175);
}
